{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">   
    <title>With love, Prinindya.</title>
</head>

<body>

    <h1>Rise and Shine, </h1>
    <h1> Sunshine! </h1>
    <hr>

    <div class="row">
      <div class="column left">
        <img src="https://d2halst20r4hcy.cloudfront.net/assets2/140/860/567/552/normal/file.jpg" alt="Left picture" style="border-radius: 30%">
      </div>


      <div class="column left">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQFZYGLEiVMzWA/profile-displayphoto-shrink_200_200/0?e=1604534400&v=beta&t=EqWIXbWbZFaFDy7AtPFUwGGhts35vyu-cEAVET-wmdA" alt="profile picture" style="border-radius: 30%">
      </div>
      
      <div class="column left">
        <img src="https://maung.id/static/ced6c878ff9029a502d262ea8511e3e7/32ee9/AU40.jpg" alt="Avatar" style= "border-radius: 10%; width: 50;">
      </div>
      </div> 

        <header class="entry-header">
			    <h1 class="entry-title" style="text-align: center;">Tentang Penulis</h1>		
        </header>
        <p>Halo! Perkenalkan nama saya Prinindya Aisha Sumari dengan NPM 1906399165. Saya menyukai warna hitam dan putih serta buku-buku karya Pak Sapardi Djoko Darmono. 
        Saat ini saya sedang melanjutkan pendidikan saya di Program Studi Sistem Informasi sejak 2019. Di kala senggang, saya gemar melakukan hobi saya yaitu membaca buku dan menonton serial televisi kesukaan saya. </p>
        </div>
        </div>

    <br>
      <div class="tbl-header">
        <h1><b> Riwayat Pendidikan </h1>
        <table cellpadding="0" cellspacing="0" border="0">
        <tr><th>Tahun</th> <th>Sekolah/Universitas</th></tr>
        <tr><td>2019-Sekarang</td> <td align="center">Fasilkom UI</td></tr>
        <tr><td>2016-2019</td> <td align="center">SMAN 1 Cirebon</td></tr>
        <tr><td>2013-2016</td> <td align="center">SMPN 1 Cirebon</td></tr>
        </table>
      </div>
      
<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

