h1 {
    text-align:center;
    font-family:Helvetica;
}
p {
    font-family: Georgia; 
    text-align: center;
}
hr {
    width: 90%;
    margin-top: 2em;
    margin-bottom: 2em;
    color: black;
}

body, html {
    height: 100%;
    background-color: paleturquoise;
}

* {
    box-sizing: border-box;
    }

    /* Create two unequal columns that floats next to each other */
    .column {
    float: left;
    padding: 10px;
    }

    .left {
    width: 25%;
    }

    .right {
    width: 75%;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    table{
        width:100%;
        table-layout: fixed;
      }
      th{
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color:black;
        text-transform: uppercase;
      }
      td{
        padding: 15px;
        text-align: left;
        vertical-align:middle;
        font-weight: 300;
        font-size: 12px;
        color:black;
        border-bottom: solid 1px rgba(255,255,255,0.1);
      }
      .tbl-header{
        background-color: rgba(255,255,255,0.3);
       }